APP_NAME="AI Automation Portfolio API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
QUEUE_CONNECTION=database
CACHE_STORE=file
SESSION_DRIVER=file

ENGLISH_BIBLE_API_BASE_URL=https://bible-api.com
ENGLISH_BIBLE_API_TRANSLATION=web
ENGLISH_BIBLE_API_KEY=
ENGLISH_BIBLE_API_AUTH_MODE=none
ENGLISH_BIBLE_API_KEY_HEADER=
