* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ttf binary
*.otf binary
*.zip binary
*.tar.gz binary
*.tgz binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
